@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@mixin font-varela {
    font-family: 'Varela Round', sans-serif;
}


.np-plant-item {
    position: relative;
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	justify-content: center;
    margin: 10px;
	text-transform: capitalize;
    z-index: 1;
    @include font-varela();

    &__cover {
        height: 220px;
        width: 220px;
        margin-bottom: 7px;
        border-radius: 20px;
        object-fit: cover;
    }

    &__price {
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        background-color: #31B472;
        border-radius: 20px 20px 20px 0;
        color: white;
        font-weight: 500;
    }
}